{% comment %}Personalize Stepper block{% endcomment %}
{{ 'personalize-stepper.css' | asset_url | stylesheet_tag }}
<script src="{{ 'personalize-stepper.js' | asset_url }}" defer></script>

{% assign pd_config = product.metafields.personalize_design.config %}

<div 
  id="pd-stepper-root" 
  data-pd-stepper
  data-shop-domain="{{ shop.permanent_domain }}"
  data-product-id="{{ product.id }}"
  {% if pd_config.value %}
    data-template-id="{{ pd_config.value.template_id }}"
    data-personalization-enabled="{{ pd_config.value.personalization_enabled }}"
  {% elsif pd_config.template_id %}
    data-template-id="{{ pd_config.template_id }}"
    data-personalization-enabled="{{ pd_config.personalization_enabled }}"
  {% endif %}
></div>

{% schema %}
{
  "name": "Personalize Stepper",
  "target": "section",
  "templates": ["product"],
  "settings": []
}
{% endschema %}
